.slider__items {
  height: 500px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 825px);
  /* grid-template-rows: repeat(1, 500px); */
  grid-column-gap: 30px;
  transition: 1s ease-in-out;
}
