.works__item {
  margin-left: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #222222;
  opacity: 0.3;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: .3 linear;
  cursor: pointer;
}

.works__item:hover {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
