.services__item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #222222;
  opacity: .5;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.services__item:hover {
  opacity: .8;
}
