@keyframes next {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-825px);
  }
  100% {
    transform: translateX(0);
  }
}

.slider__image {
  background-image: url('../../../images/slider_image.jpg');
  background-size: cover;
  height: 500px;
  width: 825px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*animation: next 5s ease;*/
  transition: 2s linear;

}
