.section__caption {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 4px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}
